@import '../App.scss';



#home {

    .inner-section {
        overflow: hidden;
        text-align: left;
        display: flex;
        position: relative;

        z-index: 7;
        // flex-flow: row wrap;
        justify-content: space-around;

            

        #logo {
            position: fixed;
            left: 0;
            top:0;
            z-index: 10;

            &.logo {
                @include spotlight;
                padding: 1.5vw;
                align-self: flex-start;
                margin: 10vh 10vw;
                backdrop-filter: blur(3px);
    
                @include mq-smartphone {
                    margin-top: 5vh;
                }
                @media screen and (max-width: 700px) {
                    top: 6vmin;
                }
                
                .header { 
                    font-weight: bold;
                    @include text-halo($color-cta);
                    color: $color-cta;
                }
        
                .sub-header {
                    font-weight: light;
                }
            }

        }

        #quote {
            margin: 8vh auto;
            .ring {
                padding: 1vh 3vw 1vh 3vw;
                @include corners;
                display: block;
                box-shadow: inset 10px 10px 200px 1px rgba(55, 29, 47, 0.8);
                width: max-content;

                @include mq-mobile {
                    padding: 0 3vw 3vh 0;
                }
    
                .ring-1 { backdrop-filter: hue-rotate( 180deg );box-shadow: 10px 10px 200px 1px rgba(255, 247, 25, .8);}
                .ring-2 { backdrop-filter: hue-rotate( 160deg );}
                .ring-3 { backdrop-filter: hue-rotate( 140deg );box-shadow: 10px 10px 200px 1px rgba(255, 247, 25, .8);}
                .ring-4 { backdrop-filter: hue-rotate( 120deg );}
                .ring-5 { backdrop-filter: hue-rotate( 100deg );box-shadow: 10px 10px 200px 1px rgba(255, 247, 25, .8);}
                .ring-6 { backdrop-filter: hue-rotate( 80deg );}
                .ring-final { backdrop-filter: hue-rotate( 160deg ); }
            }


            .quote {
                @include spotlight;
                height: 8vh;
                font-size: calc(1em + .6vw);
                padding: 3vw;
                font-style: light;
                backdrop-filter: blur(2px);
        
                @include mq-smartphone {
                    margin-top: 10vh;
                }

                h3 {
                    font-size: calc(1.2em + .6vw);
                    font-weight: normal;
                    position: relative;
                    text-transform: uppercase;
                    background: transparent;
                }
    
                p {
                    font-size: calc(.8em + .6vw);
                    max-width: 15em;
                    background: transparent;
                    margin: 0;
                    padding: 0;
                }

            }

        }
    }
}



            // .ring-8 { backdrop-filter: hue-rotate( 40deg );}
            // .ring-9 { backdrop-filter: hue-rotate( 20deg );}
            // .ring-9 { backdrop-filter: hue-rotate( 180deg );}

            // backdrop-filter: hue-rotate( deg );
            // backdrop-filter: blur(3px) drop-shadow(16px 16px 20px red) invert(75%);hue-rotate( 60deg );
            // backdrop-filter: blur(3px);
            // background-color: $color-highlight;
            // backdrop-filter: saturate( 200% );
                        // height: 100%;
                        // @include foreground(.01);
            // display: block;
                // backdrop-filter: invert(1);
            // box-shadow: inset 10px 10px 200px 1px rgba(255, 247, 25, .8);



    // overflow: hidden;
    // display: inline-block;
    // height: 200px;
    // margin: 4vw;
    // filter: invert(.7);
    // margin-top: 0;
    // overflow: hidden;
    // // padding-bottom: 20vmin;
    // position: relative;
                // padding: 8vmin 0;
            // margin: 30vmax 0 30vmax;
            // scroll-margin: 30vmax 0 30vmax;
            // align-content: flex-start;
            // align-items: stretch;
            // transform-origin: center;
            // justify-content: flex-start ;
            // height: unset;
            // max-height: fit-content;
        // height: fit-content;
        // -webkit-box-shadow: inset 10px 10px 603px -10px rgba(255, 247, 25, .25);
        // -moz-box-shadow: inset 10px 10px 603px -1px rgba(255, 247, 25, .25);
        // box-shadow: inset 10px 10px 603px -1px rgba(230, 255, 68, 0.2);
        // box-shadow: -4px -4px 143px 16px rgba(230, 255, 68, 0.2);
        // -webkit-box-shadow: -4px -4px 143px 16px rgba(230, 255, 68, 0.2) -4px -4px 143px 16px rgba(239, 68, 255, 0.2) -4px -4px 143px 16px rgba(68, 255, 205, 0.2) -4px -4px 143px 16px rgba(68, 158, 255, 0.2);
        // -moz-box-shadow:  -4px -4px 143px 16px rgba(230, 255, 68, 0.2) -4px -4px 143px 16px rgba(239, 68, 255, 0.2) -4px -4px 143px 16px rgba(68, 255, 205, 0.2) -4px -4px 143px 16px rgba(68, 158, 255, 0.2);
        // box-shadow: -4px -4px 143px 16px rgba(230, 255, 68, 0.2) 4px 4px 143px 16px rgba(239, 68, 255, 0.2) -8px -8px 143px 16px rgba(68, 255, 205, 0.2) 14px 14px 143px 16px rgba(68, 158, 255, 0.2);


        // box-shadow: -32px 2px 302px rgba(230, 255, 68, 0.09), 
        //     32px 4px 302px rgba($color-highlight,0.09), 
        //     0 8px 302px rgba($color-dark,0.09), 
        //     -32px 16px 302px rgba(230, 255, 68, 0.09),
        //     32px 32px 302px rgba($color-highlight,0.09),
        //     -32px 2px 320px rgba(230, 255, 68, 0.09), 
        //     0 4px 302px rgba($color-highlight,0.09), 
        //     0 8px 302px rgba($color-dark,0.09), 
        //     -32px 16px 302px rgba(230, 255, 68, 0.09),
        //     32px 32px 302px rgba($color-highlight,0.09);

        // -webkit-box-shadow:  10px 10px 63px -6px rgba(246, 255, 120, 0.1);
        // -moz-box-shadow:  10px 10px 63px -6px rgba(246, 255, 120, 0.1);
        // box-shadow: 8px 52px 127px -16px rgba(246, 255, 120, 0.1);
        // margin-bottom: 30vw;
            // color: $color-dark;

        // position: relative;
        // margin-top: 30vh;
        // border: solid 1px rgba($color-highlight,0.09);
                // filter: hue-rotate(294deg) blur(3px);
                        // @include foreground(.2);
        // backdrop-filter: blur(4px);
        // border: solid 1px $color-inverse;

           // overflow: hidden;
    // text-align: left;
    // display: flex;
    // position: relative;
    // height: fit-content;
    // z-index: 7;
    // flex-flow: row wrap;
    // padding: 8vmin 0;
    // margin: 30vmax 0 30vmax;
    // scroll-margin: 30vmax 0 30vmax;
    // align-content: flex-start;
    // align-items: stretch;
    // transform-origin: center;
    // justify-content: space-evenly;
    // height: unset;
    // max-height: fit-content;
        // z-index: 2;
        // font-weight: bold;
                    // text-transform:uppercase;
                            // width: 428px; height: 48px; display: block;